.Navbar{
  display: flex;
  justify-content: space-around;
  background-color: rgb(106, 129, 129);
}
.links{
  margin: auto;
  display: flex;
}
.logo-img{
border-radius: 50%;
}
.Navbar-link{
  margin-right: 20px;
}
.link{
  text-decoration: none;
  color: aliceblue;
  font-size: 30px;
}
.link:hover{
  color: aqua;
  font-size: 40px;
}